*
{
    list-style: none;
    text-decoration: none;
    font-family: 'Lora', serif;
}
.h1-dad{
    text-align: center;}
    
    .op{
        text-decoration: none;
        margin: 0 50px;
        border: solid white 2px;
        text-align: center;
        }
        .op:hover{
            transition: all 50ms;
            background: red;
            color: yellowgreen;
            border: solid 2px yellow;
            border-radius: 5px;
            text-decoration: solid transparent;
            
        }
        
        .siiiikeee
        {
            justify-content: space-between;
            justify-content: center;
            display: flex;
           
        }
        @media only screen and (max-width:800px){
            .siiiikeee{
                display: grid;
            }
        }